<%= form_for(@ingridient) do |f| %>
  <% if @ingridient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingridient.errors.count, "error") %> prohibited this ingridient from being saved:</h2>

      <ul>
      <% @ingridient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :unit %><br />
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label :unit_cost %><br />
    <%= f.text_field :unit_cost %>
  </div>
  <div class="field">
    <%= f.label :portion_cost %><br />
    <%= f.text_field :portion_cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
