<h1>Listing recipes</h1>

<table>
  <tr>
    <th>Price on menu</th>
    <th>Recipe cost</th>
    <th>Profit</th>
    <th>Food cost</th>
    <th colspan="3"></th>
  </tr>

<% @recipies.each do |recipy| %>
  <tr class="<%= cycle("","zebra_stripe")%>">
    <td><%= recipy.price_on_menu %></td>
    <td><%= recipy.recipe_cost %></td>
    <td><%= recipy.profit %></td>
    <td><%= recipy.food_cost %></td>
    <td><%= link_to 'Show', recipy %></td>
    <td><%= link_to 'Edit', edit_recipy_path(recipy) %></td>
    <td><%= link_to 'Destroy', recipy, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<div class="link_to_button">
  <%= button_to 'Create New Recipe', new_recipy_path, { :method => "get", :class =>"edit_button"} %>
  <%= button_to 'Create New Item', new_item_path, { :method => "get", :class =>"edit_button"} %>
</div>

